<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #mjpeg_player {
        position: relative;
        display: inline-block;
        user-select: none;
      }
      .play {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        display: none;
      }
      .play::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-left: 30px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        left: 30px;
        top: 11px;
      }
    </style>
  </head>
  <body>
    <script>
      let DEFAULT_FPS = 24
      let DEFAULT_AUTOLOOP = true
      let JPEG_MAGIG_NUMBER = [0xff, 0xd8, 0xff]

      let requestAnimationFrame =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        window.setTimeout

      function splitMJPEG(mjpegUrl, callback) {
        let xhr = new XMLHttpRequest()

        xhr.open('GET', mjpegUrl, true)
        xhr.overrideMimeType('application/octet-stream')
        xhr.responseType = 'arraybuffer'

        xhr.onload = function (event) {
          let array = new Uint8Array(xhr.response),
            startIndex,
            jpegs = []

          for (let i = 0, ii = array.length; i < ii; ++i) {
            if (array[i] === JPEG_MAGIG_NUMBER[0] && array[i + 1] === JPEG_MAGIG_NUMBER[1] && array[i + 2] === JPEG_MAGIG_NUMBER[2]) {
              if (i > 0 && typeof startIndex === 'number') {
                jpegs.push(new Blob([array.subarray(startIndex, i)], { type: 'image/jpeg' }))
              }
              startIndex = i
            }
          }

          callback(jpegs)
        }

        xhr.send()
      }

      function playMJPEGInternal(wrapperElement, mjpegUrl, fps, autoloop) {
        fps = typeof fps === 'number' ? fps : DEFAULT_FPS
        autoloop = typeof autoloop === 'boolean' ? autoloop : DEFAULT_AUTOLOOP

        let playbackFinished = false
        let imageElement = document.createElement('img')
        let jpegUrl

        imageElement.setAttribute('style', 'width:100%;')
        wrapperElement.appendChild(imageElement)

        let nextFrameIndex = 0
        let showNextFrameFunc = null
        splitMJPEG(mjpegUrl, function (jpegFiles) {
          if (jpegFiles.length > 0) {
            showNextFrameFunc = showNextFrame
            function showNextFrame() {
              if (imageElement) {
                if (jpegUrl) {
                  URL.revokeObjectURL(jpegUrl)
                }
                jpegUrl = URL.createObjectURL(jpegFiles[nextFrameIndex++])

                imageElement.onload = function () {
                  if (imageElement) {
                    if (autoloop || nextFrameIndex < jpegFiles.length) {
                      nextFrameIndex = nextFrameIndex === jpegFiles.length ? 0 : nextFrameIndex
                      setTimeout(function () {
                        requestAnimationFrame(showNextFrame)
                      }, 1000 / fps)
                    }
                  }
                }
                imageElement.setAttribute('src', jpegUrl)
              }
            }

            setTimeout(function () {
              requestAnimationFrame(showNextFrame)
            }, 1000 / fps)
          }
        })

        let timeSave = null
        return {
          stopOrPlay: () => {
            if (imageElement) {
              timeSave = imageElement
              imageElement = undefined
            } else {
              imageElement = timeSave
              setTimeout(function () {
                requestAnimationFrame(showNextFrameFunc)
              }, 1000 / fps)
            }
          },
          finish: function () {
            if (imageElement) {
              imageElement.src = ''
              wrapperElement.removeChild(imageElement)
              imageElement = undefined
            } else {
              wrapperElement.removeChild(timeSave)
              timeSave = undefined
            }
          },
        }
      }

      // optionally make available as jQuery plugin
      window.clipchamp_mjpeg_player = function (element, mjpegUrl, fps, autoloop, callback) {
        if (typeof mjpegUrl === 'string') {
          if (typeof callback === 'function') {
            return callback(element, playMJPEGInternal(element, mjpegUrl, fps, autoloop))
          } else {
            throw new Error('Callback must be given and must be a function')
          }
        } else {
          throw new Error('MJPEG URL must be a string')
        }
      }

      // optionally provide AMD module definition
      if (typeof define === 'function') {
        define('jquery.clipchamp.mjpeg.player', [], function () {
          return {
            playMJPEG: function (wrapperElement, mjpegUrl, fps, autoloop) {
              if (wrapperElement instanceof Element) {
                if (typeof mjpegUrl === 'string') {
                  return playMJPEGInternal(wrapperElement, mjpegUrl, fps, autoloop)
                } else {
                  throw new Error('MJPEG URL must be a string')
                }
              } else {
                throw new Error('No parent element was given')
              }
            },
          }
        })
      }
    </script>
    <div id="mjpeg_player"></div>
    <div id="status"></div>
    <input id="input" type="text" placeholder="Default 24" /><button id="inputAndReplay">Input the HZ and re-play</button>
    <script>
      const mjpegUrl = '{{ videofile }}'
      const fps = 24
      const autoloop = true
      let finish = null
      const callback = (ele, playerInterface) => {
        let playEle = document.createElement('div')
        playEle.classList.add('play')
        ele.appendChild(playEle)
        let isPlay = true
        ele.onclick = playOrStop
        finish = playerInterface.finish
        function playOrStop() {
          isPlay = !isPlay
          if (isPlay) playEle.style.display = 'none'
          else playEle.style.display = 'block'
          playerInterface.stopOrPlay()
        }
      }
      let element = document.getElementById('mjpeg_player')
      let input = document.getElementById('input')
      let replay = document.getElementById('inputAndReplay')
      replay.onclick = () => {
        let playEle = document.getElementsByClassName('play')[0]
        playEle.parentNode.removeChild(playEle)
        finish && finish()
        let customFPS = Number(input.value)
        window.clipchamp_mjpeg_player(element, mjpegUrl, customFPS, autoloop, callback)
      }
      window.clipchamp_mjpeg_player(element, mjpegUrl, fps, autoloop, callback)
    </script>
  </body>
</html>
