<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Play Online</title>
  <link href="/static/video-js.css" rel="stylesheet" />
</head>
<body>
    <video
      id="video"
      class="video-js"
      controls
      autoplay=true
      preload="auto"
      data-setup="{}"
    >
      <source src="{{ videofile }}" type="{{ videomime }}" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video>

    <script src="/static/video.min.js"></script>
  </body>
</html>
